@CHARSET "UTF-8";
    @media screen and (max-width: 1000px) {}
    img {
    	text-align: left;
        left: 0px;
        margin-button: 5px;
        margin-top: 5px;
        margin-left: 5px;
        padding: 0px;
        border: 2px solid;
    }
    body {
      background-color: #FFFFFF;
      height: 100%;
      width: 200px auto;
      text-align: center;
      font-family : Verdana, Helvetica, sans-serif;
    }
    h1, h2 {
        text-align: center;
        color: #12111;
        margin: 10px;
    }
    h3{
        font-weight: bold;
        color: #FFFFFF;
    }
    a:link {
        color: black;
        font-weight: bolder;

    }

    a:visited {
        color: black;
        font-weight: bolder;
    }

    a:hover {
        color: black;
        font-weight: bolder;
    }

    a:active {
        color: black;
        font-weight: bolder;
    }

    table {
        width: 500px auto;
        text-align: center;
        margin: 10px auto;
    }
    table, th, td {
        text-align: center;
        border: 2px solid #8f2907;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    

    label {
        font-weight: bolder;
    }

    form input[type=text], form input[type=number], form input[type=password],
        form input[type=date], form input[type=range], form input[type=email],
        form input[type=url], form input[type=time], form input[list] {
        width: 400px;
        font-size: 1em;
    }

    textarea {
        width: 500px;
        height: 60px;
        font-size: 1em;
    }

    nav{  
           
        text-color: #000000;
        background: #ff0000;
        margin: 2px auto;
        line-height: 20px;
        border-width: 2px;
    }
    
footer{
        text-color: #000000;
        background: #ff0000;
        margin: 20px auto;
        line-height: 20px;
        border-width: 10px;

    }
    
header #header{
        text-color: #000000;
        text-align: left;
        background-color: #ff0000;
        margin: 20px auto;
        color: black;
        line-height: 20px; }